*{
    box-sizing: border-box;/* border까지 포함한 영역으로 사이즈 지정(border 사이즈와 상관없이 동일한 크기를 가짐) */
}

body{
    margin: 0 auto;/* 모든 요소 가운데 정렬 */
    color: #fff;
    background-color: black;
    font-family: "Spoqa Han Sans Neo", "Sans-serif";/* 다운받은 웹 폰트 */   
}
section{
    width: 100%;
    position: relative;
}
.circle_style{
    color: blue;
}
.iconheader{
    width: 100%;
    font-size: larger;
    justify-content: space-between;
    display: flex;
}
.create_button{
    border: 1px solid #fff;
    border-radius: 2rem;
    color: #fff;
    background-color: black;
    padding: 1rem;
    margin: 1rem;
}
.create_button:hover{
    border: 2px solid #fff;
    cursor: pointer;
    
}
.menu_button{
    border: 1px solid #fff;
    padding: 1rem;
    margin: 1rem;
    display: none;
}
.header_nav{
    display: flex;
    
}
.header_container{
    display: flex;
    align-items: center;
}
.main_icon{
    margin: 2rem;
    font-weight: bold;
    font-size: larger;
}
.main_icon:hover{
cursor: pointer;
}
.menu_container{
    display: flex;
    align-items: center;
}
.product_nav{
    margin: 2rem;
    color:gray;
}
.product_nav:hover{
    color: #fff;
    margin: 2rem;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.2s;

}
.pricing_nav{
    color:gray;
    margin: 2rem;
}
.pricing_nav:hover{
    color:#fff;
    margin: 2rem;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.2s;
}
.patchrelease_nav{
    color:gray;
    margin: 2rem;
}
.patchrelease_nav:hover{
    color:#fff;
    margin: 2rem;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.2s;
}
.main_content_container{
    padding: 10%;
    width: 100%;
}
.main_content_center{
    font-weight: bold;
    font-size: 6rem;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    margin: 2rem;
    
}
.main_content_footer{
    text-align: center;
    margin: 2rem;
    color: gray;
    white-space: nowrap;
}
.main_content_button{
    margin: 2rem;
    text-align: center;
    align-items: center;
    
}
.macbutton{
    background-color:blue;
    border: 2px solid blue;
    color: #fff;
    border-color: blue;
    border-radius: 2rem;
    font-size: large;
    padding: 1em;
    width: 260px;
    margin: 0 auto;
}
.macbutton:hover{
    background-color: black;
    border-color: #fff;
    cursor: pointer;
}
.main_img_container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(black 50%, #fff 50%);
}
.main_img{
    width: 100%;
    height:100vh;
    background-image: url('../img/caddyflow_img.png');
    background-repeat: no-repeat;
    border-radius: 3rem;
    background-size: 90% 100%;
    background-position: center;
    z-index: 1;
}
.main_text_item_container{
    width: 100%;
    position: relative;
    background-color: #fff;
}
.grey_text{
    color: gray;
    text-align: center;
    padding-top: 4rem;
    font-size: larger;
}
.black_text{
    color: black;
    text-align: center;
    padding-top: 5rem;
    font-size: 5rem;
    font-weight: bold;
}
.main_text_icons{
    display: flex;
    font-size: 6rem;
    color: black;
    justify-content: center;
    letter-spacing: 2rem;
    padding-top: 2rem;
}
.roadmap_contaier{
    width: 100%;
    display: flex;
    padding-top: 5rem;
    justify-content: space-between;
    padding: 5%;
}
.roadmap_card{
    padding:2%;
}
.roadmap_icon{
    font-size: 2rem;
}
.roadmap_title{
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 1rem 0;
}
.roadmap_detail{
    color: grey;
}
.sub_item_container_top{
    display: flex;
    width: 100%;
    position: relative;
    margin: 3rem;
}
.sub_item_container_bottom{
    display: flex;
    width: 100%;
    position: relative;
    margin: 3rem;
}
.sub_img1{
    width: 100%;
    height:100vh;
    background-image: url('../img/caddyflow_subimg1.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.sub_img2{
    width: 100%;
    height:100vh;
    background-image: url('../img/caddyflow_subimg2.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.sub_content_title{
    font-size: 5rem;
    text-align: left;
    font-weight: bold;
    margin: 0 10%;
}
.sub_content_detail{
    text-align: left;
    margin: 5% 10%;
    color: grey;
}
.sub_content_button{
    width: 260px;
    margin: 0 10%;
    padding: 1rem;
    text-align: center;
    color: grey;
    border: 2px solid grey;
    border-radius: 2rem;
    font-size: larger;

}
.sub_content_button:hover{
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}
.joinbox_container{
    width: 100%;
    padding: 5%;
    background: linear-gradient(black 50%, #fff 50%);
}
.joinbox{
    background-color: skyblue;
    border: skyblue solid 1px;
    border-radius: 2rem;
    padding: 4rem;
    text-align: center;
    position: relative;
    width: 100%;
}
.macbutton2{
    background-color:white;
    border: 2px solid white;
    color: black;
    border-color: white;
    border-radius: 2rem;
    font-size: large;
    padding: 1em;
    width: 260px;
    margin: 0 auto;
}
.macbutton2:hover{
    border-color: black;
    cursor: pointer;
}
.main_content_center2{
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    width: 100%;
    
}
.main_content_footer2{
    text-align: center;
    margin: 2rem;
    color: gray;
}
@media only screen and (max-width : 1024px) {
    .header_nav{
        display: none;
    }
    .menu_button{
        display: inline;
    }
    .roadmap_contaier{
        display: block;
    }
    .sub_item_container_top{
        display: block;
    }
    .sub_item_container_bottom{
        display: block;
    }
}